@use 'variables' as *;

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, $color-green-medium 50%, $color-green-dark);
    width: auto;
    gap: 2rem;
}

/* ---------- NAME ---------- */

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: lighter;
    color: $color-white;
    text-align: center;
    margin-top: 3rem;
}

/* ---------- TEXT ---------- */

.text {
    font-family: $font-family-default;
    font-size: 1rem;
    color: $color-white;
    text-align: center;
    max-width: 600px;
}

/* ---------- NAVIGATION ---------- */

.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    a, span {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: $color-white;
        text-decoration: none;
    }

    a:hover {
        font-weight: bolder;
    }
}

/* ---------- DIVIDER ---------- */

.divider {
    width: 100%;
    height: 0.5px;
    background: $color-green-lighter;
    margin-bottom: 0;
}

/* ---------- COPYRIGHT ---------- */

.copyright {
    font-family: $font-family-default;
    font-size: 0.85rem;
    color: $color-white;
    text-align: center;
    margin-bottom: 3rem;
}

@media (max-width: $max-size-tablet) {
    .footer {
        .navbar-links > span {
            display: none;
        }
    }

    .name {
            margin-top: 2rem; 
        }

    .copyright {
        margin-bottom: 2rem; 
    }
}

@media (max-width: $max-size-mobile) {

    .name {
        font-size: 1.7rem;
    }

    .text {
        font-size: 0.95rem;
    }

    .navbar-links {
        gap: 15px;
    }
}
