
// Colors

$color-green-lightest: #f5f7f2;
$color-green-light: #e8ede0;
$color-green-lighter: #cbd8b5;
$color-green-medium: #a5b696;
$color-green-dark: #8fa07a;

$color-white: #ffffff;
$color-grey-light: #c2c1c1;
$color-grey-medium: #808080;
$color-grey-dark: #333;


// Font sizes

$font-size-title: 4rem;
$font-size-subtitle: 1.5rem;
$font-size-heading1: 3rem;
$font-size-heading2: 1.6rem;
$font-size-text: 1.2rem;
$font-size-small-text: 0.95rem;
$font-size-button: 1rem;

// Font family
$font-family-default: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";